{% extends "base.html" %}
{% block title %}
	{{main_title}}
{% endblock %}
{% block content %}
		<div class="container">
<!-- 			<div class="alert alert-danger" role="alert">
  				For resources on Covid-19 for {{name}}, click <a href="https://www.google.com/search?q={{name}}+covid">here</a>
  			</div>-->
  			<div class="row">
  				<h2>
  					This page provides an up to date view of global Covide-19 cases and related data points in {{output_type}}
  				</h2>
  			
 			
				<p> "{{data | safe}}"</p>
  			</div><!-- row -->
{% endblock %}